# =====================
# data
# =====================
output/
reference/

# =====================
# python
# =====================
__pycache__/
*.pyc

# =====================
# environments
# =====================
.env
.venv/

# =====================
# MacOS
# =====================
.DS_Store